<div class="sidebar close">
    <!-- ========== Logo ============  -->
    <a href="#" class="logo-box">
      <img src="/img/logo/DSK-JF-drak-transparent-logo.png" />
      <!-- <i class='bx bxl-xing'></i> -->
      <div class="logo-name"></div>
    </a>

    <!-- ========== List ============  -->
    <ul class="sidebar-list">
      <!-- -------- Non Dropdown List Item ------- -->
      <li>
        <div class="title">
          <a href="/admin" class="link">
            <box-icon name="user"></box-icon>
            <i class="bx bx-grid-alt"></i>
            <span class="name">Dashboard</span>
          </a>
          <!-- <i class='bx bxs-chevron-down'></i> -->
        </div>
        <div class="submenu">
          <a href="/admin" class="link submenu-title">Dashboard</a>
          <!-- submenu links here  -->
        </div>
      </li>

      <!-- -------- Dropdown List Item ------- -->
      <li class="dropdown">
        <div class="title">
          <a href="#" class="link">
            <i class="bx bx-user"></i> <span class="name">Users</span>
          </a>
          <i class="bx bxs-chevron-down"></i>
        </div>
        <div class="submenu">
          <a href="#" class="link submenu-title">Users</a>
          <a href="#" class="link">Details</a>
          <a href="/admin/adduser" class="link">Add user</a>
          <a href="/admin/searchedituser" class="link">Edit User</a>
          <a href="/admin/searchbanuser" class="link">Ban User</a>
        </div>
      </li>

      <!-- -------- Dropdown List Item ------- -->
      <li class="dropdown">
        <div class="title">
          <a href="#" class="link">
            <i id="fawsomeicons" class="fas fa-chalkboard-teacher"></i>
            <span class="name">Products</span>
          </a>
          <i class="bx bxs-chevron-down"></i>
        </div>
        <div class="submenu">
          <a href="#" class="link submenu-title">Add products</a>
          <a href="#" class="link">Details</a>
          <a href="/admin/addproduct" class="link">Add products</a>
          <a href="/admin/searcheditproduct" class="link">Edit products</a>
          <a href="/admin/searchremoveprod" class="link">Remove products</a>
        </div>
      </li>

      <!-- -------- Non Dropdown List Item ------- -->
      <li>
        <div class="title">
          <a href="#" class="link">
            <i class="bx bx-line-chart"></i>
            <span class="name">Analysis</span>
          </a>
          <!-- <i class='bx bxs-chevron-down'></i> -->
        </div>
        <div class="submenu">
          <a href="#" class="link submenu-title">Analysis</a>
          <!-- submenu links here  -->
        </div>
      </li>

      <!-- -------- Non Dropdown List Item ------- -->
      <li>
        <div class="title">
          <a href="#" class="link">
            <i class="bx bx-cog"></i>
            <span class="name">Settings</span>
          </a>
          <!-- <i class='bx bxs-chevron-down'></i> -->
        </div>
        <div class="submenu">
            <!-- for hover from outside -->
          <a href="#" class="link submenu-title">Settings</a>
          <!-- submenu links here  -->
        </div>
      </li>
    </ul>
  </div>

  <!-- ============= Home Section =============== -->
  <section class="home">
    <div class="toggle-sidebar">
      <i class="bx bx-menu"></i>
      <div class="text">Locally</div>
    </div>
