<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../public/js/chatt.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="sidebar close">
    <!-- ========== Logo ============  -->
    <a href="#" class="logo-box">
      <img src="/images/adminicon.png" />
      <!-- <i class='bx bxl-xing'></i> -->
      <div class="logo-name"></div>
    </a>
  
    <!-- ========== List ============  -->
    <ul class="sidebar-list">
      <!-- -------- Non Dropdown List Item ------- -->
      <li>
        <div class="title">
          <a href="/admin" class="link">
            <box-icon name="user"></box-icon>
            <i class="bx bx-grid-alt"></i>
            <span class="name">Dashboard</span>
          </a>
          <!-- <i class='bx bxs-chevron-down'></i> -->
        </div>
        <div class="submenu">
          <a href="/admin" class="link submenu-title">Dashboard</a>
          <!-- submenu links here  -->
        </div>
      </li>
  
      <!-- -------- Dropdown List Item ------- -->
      <li class="dropdown">
        <div class="title">
          <a href="#" class="link">
            <i class="bx bx-user"></i> <span class="name">Users</span>
          </a>
          <i class="bx bxs-chevron-down"></i>
        </div>
        <div class="submenu">
          <a href="#" class="link submenu-title">Users</a>
          <a href="/admin/adduser" class="link">Add user</a>
          <a href="/admin/view&edituser" class="link">View & Edit</a>
  
        </div>
      </li>
  
      <!-- -------- Dropdown List Item ------- -->
      <li class="dropdown">
        <div class="title">
          <a href="#" class="link">
            <i id="fawsomeicons" class="fas fa-chalkboard-teacher"></i>
            <span class="name">Products</span>
          </a>
          <i class="bx bxs-chevron-down"></i>
        </div>
        <div class="submenu">
          <a href="#" class="link submenu-title"> products</a>
          <a href="/admin/addproduct" class="link">Add products</a>
          <a href="/admin/view&editprod" class="link">View & edit</a>
  
        </div>
      </li>
  
      <!-- -------- Non Dropdown List Item ------- -->
      <li>
        <div class="title">
          <a href="/" class="link">
            <i class="bx bx-home"></i>
            <span class="name">Home</span>
          </a>
          <!-- <i class='bx bxs-chevron-down'></i> -->
        </div>
        <div class="submenu">
          <a href="/" class="link submenu-title">Home</a>
          <!-- submenu links here  -->
        </div>
      </li>
  
      <!-- -------- Non Dropdown List Item ------- -->
      <li>
        <div class="title">
          <a href="https://dashboard.tawk.to/?lang=en#/chat" class="link">
            <i class="bx bx-chat"></i>
            <span class="name">Chat</span>
          </a>
          <!-- <i class='bx bxs-chevron-down'></i> -->
        </div>
        <div class="submenu">
          <!-- for hover from outside -->
          <a href="https://dashboard.tawk.to/?lang=en#/chat" class="link submenu-title">Chat</a>
          <!-- submenu links here  -->
        </div>
      </li>
    </ul>
  </div>
  
  <!-- ============= Home Section =============== -->
  <section class="home">
    <div class="toggle-sidebar">
      <i class="bx bx-menu"></i>
      <div class="text">Locally</div>
    </div>



</body>
</html>