<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="/css/navbarcss.css">
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Local Warehouse </title>
    <script src="https://get.geojs.io/v1/ip/geolocate.js"></script>
    <script>
        function displayLocation() {
      const xhr = new XMLHttpRequest();
      xhr.open('GET', 'https://get.geojs.io/v1/ip/geo.json', true);
      xhr.onload = function() {
        if (xhr.status === 200) {
          const data = JSON.parse(xhr.responseText);
          const region = `${data.region}, ${data.country}`;
          document.getElementById('location').innerHTML = region;
        }
      };
      xhr.send();
    }
    
      </script>
</head>

<body>

    
    <nav class="head" >
        <ul >
 
            <li><a href="/"  style="color:white">Home</a></li> 
            <body onload="displayLocation()">
                <li id="location" style="color: aliceblue;"></li>
        
              </body>
            <% if(user==="") {%>
            <li><a href="/user/login" style="color:white"><i class='bx bx-log-out'></i>Login</a></li>
            <li><a href="/user/signup" style="color:white">Create account</a></li>
            <% }else {
                console.log(user.Type);
                if(user.Type==="admin"){
                 %>
                 <li><a href="/admin" style="color:white"><i class='bx bx-log-out'></i>Admin</a></li>
                <%}%>
               

       
            <li><a href="/Wishlist" style="color:white"><i class='bx bxs-magic-wand'></i>Wishlist</a></li>
            <li ><a href="/cart" style="color: aliceblue;"><i class='bx bx-cart' ></i>Cart </a></li>
            <a href="/profile" style="color: aliceblue;"> Welcome <%=user.username%></a>
            
            <% }%>
        </ul>


      
            
          
           
    </nav>
    <input type="checkbox" id="check">
    <label for="check">
        <i class='bx bx-menu' id="btn"></i>
        <i class='bx bx-arrow-back' id="cancel" ></i>
    </label>

    
    <div class="sidebar">
        <header><a href="/" id="hmbut" style="color: white;"><i class='bx bx-home'></i>The <br> Local <br> Warehouse</a> </header>
        <ul>
            <li><a href="/product"><i class='bx bx-male'></i>Men </a></li>
            <li><a href="/product"><i class='bx bx-female'></i>Women</a></li>
            <li><a href="/edit"><i class='bx bxs-user-account'></i>Account</a></li>
            <li><a href="#"><i class='bx bx-group'></i>About US</a></li>
            <li><a href="/login"><i class='bx bx-log-out'></i>Log Out</a></li>
        </ul>
    </div>
   

    



</body>



</html>