<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Brand</title>

    <!-- Box Icons  -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <!-- Styles  -->
    <link rel="stylesheet" href="/css/adminDashboard.css" />
  </head>

  <body>
    <%- include('./partials/adminnav.ejs')%>
    <!-- ============= Home Section =============== -->
    <section class="home">
      <div class="container">
        <div class="right">
          <h2 id="j">Add Brand</h2>
          <h1>Enter Brand details :</h1>
          <br />
          <input type="text" class="field" placeholder="Brand's ID" />
          <input type="text" class="field" placeholder="Brand's name " />
          <input type="text" class="field" placeholder="Brand's Country" />
          <input type="text" class="field" placeholder="Brand's website" />
         
          
          <button class="btn">Add</button>
        </div>
      </div>
    </section>

    <!-- Link JS -->
    <script src="/js/adminDashboard.js"></script>
  </body>
</html>