<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>

    <!-- Box Icons  -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <!-- Styles  -->
    <link rel="stylesheet" href="/css/adminDashboard.css" />
  </head>

  <body>
    <%- include('./partials/aside.ejs')%>

    <section class="home">
      <div class="container">
        <div class="right">
          <h2 id="j">Add Product</h2>
          <form action="/admin/addproduct" method="post" enctype="multipart/form-data">
          <input type="text" name="id"    class="field" placeholder="Product's ID" />
          <input type="text" name="name"  class="field" placeholder="Product's Name" />
          <input type="text" name="price" class="field" placeholder="Product's Price" />
          <input type="text" name="quan"  class="field" placeholder="Product's Quantity" />
          <select class="field"  name="type">
            <option value="">Type</option>
            <option value="Cargos">Cargos</option>
            <option value="Tshirts">T-shirts</option>
            <option value="Hoodies">Hoodies</option>
        </select>
          <input type="file" name="img"   class="field" placeholder="image">
          <input type="submit" class="btn" value="ADD">            
          </form>
          
        </div>
      </div>
    </section>

    <!-- Link JS -->
    <script src="/js/adminDashboard.js"></script>

  </body>
</html>