<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>

    <!-- Box Icons  -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <!-- Styles  -->
    <link rel="stylesheet" href="adminDashboard.css" />
    <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="dashboard.css" />
  </head>

  <body>
    <%- include('./aside.ejs')%>
    <!-- MAIN -->
      <main>
        <!-- info-data -->
        <section>
          <article>
            <div class="info-data">
              <!-- info-data-card -->
              <div class="card">
                <div class="head">
                  <div>
                    <h2>1500</h2>
                    <p>customers</p>
                  </div>
                  <i class="bx bx-trending-up icon"></i>
                </div>
                <span class="progress" data-value="40%"></span>
                <span class="label">70%</span>
              </div>

              <div class="card">
                <div class="head">
                  <div>
                    <h2>1500</h2>
                    <p>new customers</p>
                  </div>
                  <i class="bx bx-trending-up icon"></i>
                </div>
                <span class="progress" data-value="60%"></span>
                <span class="label">20%</span>
              </div>

              <div class="card">
                <div class="head">
                  <div>
                    <h2>1500</h2>
                    <p>total orders</p>
                  </div>
                  <i class="bx bx-trending-up icon"></i>
                </div>
                <span class="progress" data-value="70%"></span>
                <span class="label">50%</span>
              </div>

              <div class="card">
                <div class="head">
                  <div>
                    <h2>1500</h2>
                    <p>products sell</p>
                  </div>
                  <i class="bx bx-trending-up icon"></i>
                </div>
                <span class="progress" data-value="20%"></span>
                <span class="label">80%</span>
              </div>
            </div>
          </article>

          <div class="data">
            <!-- CHART CONTAINER -->
            <div class="contact-data">
              <div class="head">
                <h3>Sales Report</h3>
                <!-- THREE DOTS  -->
                <div class="menu">
                  <i class="bx bx-dots-horizontal-rounded icon"></i>
                  <ul class="menu-link">
                    <li><a href="">Edit</a></li>
                    <li><a href="">Save</a></li>
                    <li><a href="">Remove</a></li>
                  </ul>
                </div>
              </div>
              <div id="chart"></div>
            </div>

            <!-- CHATBOX CONTAINER-->
            <div class="contact-data">
              <div class="head">
                <h3>Chatbox</h3>
                <!-- CHATBOX THREE DOTS-->
                <div class="menu">
                  <i class="bx bx-dots-horizontal-rounded icon"></i>
                  <ul class="menu-link">
                    <li><a href="">Edit</a></li>
                    <li><a href="">Save</a></li>
                    <li><a href="">Remove</a></li>
                  </ul>
                </div>
              </div>

              <!-- CHATBOX-->
              <!-- MSG 1 -->
              <div class="chat-box">
                <p class="day"><span>Today</span></p>
                <div class="msg">
                  <img src="img/avatar.jpg" alt="" />
                  <div class="chat">
                    <div class="profile">
                      <span class="username">Alan</span>
                      <span class="time">18:30</span>
                    </div>
                    <p>Hello.</p>
                  </div>
                </div>
                <!-- MSG 2 -->
                <div class="msg me">
                  <div class="chat">
                    <div class="profile">
                      <span class="time">18:30</span>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Officia cumque beatae accusamus ea placeat nihil
                      praesentium cum distinctio odio reprehenderit fugiat iusto
                      reiciendis adipisci obcaecati, dicta laboriosam,
                      consequuntur illo dignissimos?.
                    </p>
                  </div>
                </div>
                <!-- MSG 3 -->
                <div class="msg">
                  <img src="img/avatar.jpg" alt="" />
                  <div class="chat">
                    <div class="profile">
                      <span class="username">Alan</span>
                      <span class="time">18:30</span>
                    </div>
                    <p>Hello.</p>
                  </div>
                </div>
                <!-- MSG 4 -->
                <div class="msg me">
                  <div class="chat">
                    <div class="profile">
                      <span class="time">18:30</span>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Officia cumque beatae accusamus ea placeat nihil
                      praesentium cum distinctio odio reprehenderit fugiat iusto
                      reiciendis adipisci obcaecati, dicta laboriosam,
                      consequuntur illo dignissimos?.
                    </p>
                  </div>
                </div>
                <!-- MSG 4 -->
                <div class="msg me">
                  <div class="chat">
                    <div class="profile">
                      <span class="time">18:30</span>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
                <!-- MSG 5 -->
                <div class="msg me">
                  <div class="chat">
                    <div class="profile">
                      <span class="time">18:30</span>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <!-- MSG TYPE BOX -->
              <section>
                <form action="#">
                  <div class="form-group">
                    <input type="text" placeholder="Type..." />
                    <button type="submit" class="btn-send">
                      <i class="bx bxs-send"></i>
                    </button>
                  </div>
                </form>
              </section>
            </div>
          </div>
        </section>
      </main>
    <!-- MAIN -->

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="script.js"></script>
    <!-- Link JS -->
    <script src="/adminDashboard.js"></script>
  </body>
</html>