<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ban student</title>

    <!-- Box Icons  -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <!-- Styles  -->
    <link rel="stylesheet" href="/adminDashboard.css" />
  </head>

  <body>
    <%- include('./aside.ejs')%>

    <!-- ============= Home Section =============== -->
    <section class="home">      
      <div class="container">
        <div class="right">
          <h2 id="j">Ban User</h2>
          <input type="text" class="field" placeholder="User's Name" />
          <input type="text" class="field" placeholder="User's Email" />
          <input type="text" class="field" placeholder="User's Password" />
          <textarea placeholder="Notes" class="field" ></textarea>
          <button class="btn">Ban this Student</button>
        </div>
      </div>

    </section>

    <!-- Link JS -->
    <script src="/adminDashboard.js"></script>
  </body>
</html>