<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="/css/editcss.css">
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Loacl Warehouse </title>
</head>

<body>
   <%-include("./partials/navbar.ejs")  %>

    <div class="title">
         <h1 class="head">Account Details</h1>
</div>
<div class="two">
    <img class="i" src="user.png" alt="" width="200px"height="200px">
    
</div>
<div class="one">
    <h1>     </h1><br><br>
        <form action="" method="post" class="q" onsubmit="return val(this)">
            <input class="ccc" type="text" name="username" placeholder="username " disabled ><br><br>
            
            <span id="em" style="color: red;font-size:90%;"></span>

            <input class="ee" type="text" name="email" placeholder="Email "  ><br><br>

            <span id="name" style="color: red;font-size:90%;"></span>
            <input class="ccc" type="text" name="first" placeholder="First Name " > <span id="namee" style="color: red;font-size: 90%;"></span> <span><input class="ccc" type="text" name="last" placeholder="Last Name " ></span><br><br>
            
            <span id="pass" style="color: red;font-size:90%;"></span>
            <input class="cc" type="password" name="password" placeholder="password " > <span id="passs" style="color:red ;font-size:90%;"></span> <span>  <input class="cc" type="password" name="cpassword" placeholder="Confirm password " > <div id="lpass" style="color: red;font-size:70%; margin-bottom: -15px; "></div>

            </span><br><br>
            <input class="cc" type="text" name="Address" placeholder="Address " >
       
            <span id="ph" style="color: red;"></span> <input class="cc" type="text" name="phone" placeholder="phone no. "  ><span></span><br><br>   
            <input type="submit" value="  Save Changes" class="cccc">
            
        </form>
        
        
    </div>





</body>

<script>
function pass1(field,field2) {
    
    if (field==""||field2==""){
document.getElementById("pass").innerHTML="*";

document.getElementById("passs").innerHTML="*";
return "kkk";

    } else if(field.length<4){

    document.getElementById("lpass").innerHTML="enter more than 4 characters";
    return "kkk";

}
   
    else if(field.length>12){
        document.getElementById("lpass").innerHTML="enter less than 12 characters";
        return "kkk";

     }
 else if(field!=field2){
    document.getElementById("lpass").innerHTML="Incorrect password";

    return "lll";


  
   }
    
    else{
        
        document.getElementById("pass").innerHTML="";
        
        document.getElementById("passs").innerHTML="";
        document.getElementById("lpass").innerHTML="";

        return "";

 



    }
   

    }


function name(field) {
    if (field==""){
document.getElementById("name").innerHTML="*";
return "lll";

}
    
    
    else
    document.getElementById("name").innerHTML="";
    return "";
}
function lname(field) {
     if(field==""){

document.getElementById("namee").innerHTML="*";
return "lll"; 
    } else
    document.getElementById("namee").innerHTML="";
    return "";
}


function tel(field) {
  var  pattern=/^01[0-2,5]{1}[0-9]{8}$/;
    if(field.match(pattern)){
        document.getElementById("ph").innerHTML=" ";

        return "";

    }else{
        document.getElementById("ph").innerHTML="*";

    }
}
function email(field) {
    pattern =/^\S+@\S+\.\S+$/;
    if(field.match(pattern)){
        document.getElementById("em").innerHTML=" ";

        return "";

    }else{
        document.getElementById("em").innerHTML="*";

    }

}
function val(form) {
    fail="";
    fail+=email(form.email.value);
    fail+=name(form.first.value);
    fail+=lname(form.last.value);
    fail+=pass1(form.password.value,form.cpassword.value);
    

fail+=tel(form.phone.value);
    if(fail==""){
        return true;
    }else{
        return false;
    }
}


</script>

</html>