<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User</title>

    <!-- Box Icons  -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <!-- Styles  -->
    <link rel="stylesheet" href="/css/adminDashboard.css" />
  </head>

  <body>
    <%- include('./partials/aside.ejs')%>

    <!-- ============= Home Section =============== -->
    <section class="home">
      <div class="container">
        <div class="right">
          <h2 id="j">Edit User</h2>
          <input 
          type="text" 
          class="field" 
          placeholder="User's ID" 
          value="57916532"/>
          <input
            type="text"
            class="field"
            placeholder="Student's Name"
           value="Abdelrahman suezy"
          />
          <input
            type="text"
            class="field"
            placeholder="Student's Email"
            value="Abdelrahmansuezy@gmail.com"
           
          />
          <input
            type="text"
            class="field"
            placeholder="Student's Password"
            value="suuz23"
          
          />
          <textarea placeholder="Notes" class="field"></textarea>
          <button class="btn">Save Changes</button>
        </div>
      </div>
    </section>

    <!-- Link JS -->
    <script src="/js/adminDashboard.js"></script>
  </body>
</html>