<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="top&sidecss.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Loacl Warehouse </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- slideshow motion and index counter -->
    <script>
    
    //   var slideIndex = 1;
//   showSlides(slideIndex);
//   function plusSlides(n) {
//       showSlides(slideIndex += n);
//   }
//   function currentSlide(n) {
//       showSlides(slideIndex = n);
//   }
var index=0;
  function showslides(){
    var image=document.getElementsByClassName("mySlides ")
    for(var i=0;i < image.length;i++){
        image[i].style.display="none";
    }
    if(index>image.length-1){
        index=0;
    }
image[index].style.display="block";
index++;
setTimeout(showslides,3000);
}
setTimeout(showslides,100);


var index=0;
  function showslides(){
    var image=document.getElementsByClassName("mySlides ")
    for(var i=0;i < image.length;i++){
        image[i].style.display="none";
    }
    if(index>image.length-1){
        index=0;
    }
image[index].style.display="block";
index++;
setTimeout(showslides,3000);
}
setTimeout(showslides,100);
  </script>

  
</head>

<body>
   <!-- the head bar (account/wishlist/cart) -->
<%- include("./partials/navbar.ejs") %>



<div class-"main-pic">
           <img src="hm-main.png" style="width:100%;height: auto;">
        <div class="textcontainer">
            <div class="text">ALL <br>  NEW <br>& <br> EXCLUSIVE </div>
            <a href="product">          
                  <button class="butt" >View Products</button>
            </a> 
            </div> 
</div>

 <!-- slideshow images and container --> 

    <div class="slideshow-container">    
             <!-- the text and button -->
             <div class="text_inslideshow">NEW  COLLECTION  </div>
      <div class="mySlides fade"> 

            <!-- theimage itself -->
          <img class="img_in_slideshow" src="hm4.png" >
      </div>
      <div class="mySlides fade">
      
          <img class="img_in_slideshow" src="hm3.png" >
        
      </div>
      <div class="mySlides fade">
       
          <img class="img_in_slideshow"  src="hm5.png" >
      </div>
  </div>


  <div class="slideshow-container">    
    <!-- the text and button -->
    <div class="text_inslideshow">SUMMER COLLECTION <BR> OUT NOW!!! </div>
<div class="mySlides fade"> 

   <!-- theimage itself -->
 <img class="img_in_slideshow" src="hm10.png" >
</div>
<div class="mySlides fade">

 <img class="img_in_slideshow" src="hm11.png" >

</div>
<div class="mySlides fade">

 <img class="img_in_slideshow"  src="hm12.png" >
</div>
</div>



 <div class="small pic slide " >

   <div class="shop_container">
    <h1 id="bestselling"> <i class='bx bxs-offer'></i> Best selling </h1>
    
            <!--content-->
            <div class="shop-content">
                <!--box1-->
                <div class="product-box">
                    <img src="prod1.jpeg" alt="" class="product-img" >
                    <h2 class="product-title">Nike Sportswear Premium Essentials Men's T-Shirt</h2>
                    <span class="price">45$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                    
                </div>

                <!--box2-->
                <div class="product-box">
                    <img src="prod2.webp" alt="" class="product-img">
                    <h2 class="product-title">Nike Dri-FIT Ready</h2>
                    <span class="price">40$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                </div>
                <!--box3-->
                <div class="product-box">
                    <img src="prod3.webp" alt="" class="product-img">
                    <h2 class="product-title">Men's French Terry Crew</h2>
                    <span class="price">40$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                </div>

            </div>
            

        </div>

 </div>

   

    <div class="downnavbr"> 

<span class="downwriting"><i class='bx bxs-package'></i>Free shipping </span>
<span class="downwriting"><i class='bx bx-world' ></i> World Wide Shipping  </span>
<span class="downwriting"><i class='bx bx-purchase-tag'></i>Best Prices </span>

</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#"></a>our services</li>
                    <li><a href="#"></a>privacy policy</li>
                    <li><a href="#"></a>affiliate program</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4></h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instgram"></i></a>
                    <a href="#"><i class="fab fa-linked-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>



</body>

</html>