<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/top&sidecss.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Loacl Warehouse </title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<!-- 
    <style>
      /* Add custom CSS for responsiveness */
      @media screen and (max-width: 768px) {
        /* Adjust the styles for screens with a maximum width of 768 pixels */
  
        /* Example of adjusting the font size in the hero section */
        .textcontainer {
          font-size: 24px;
        }
  
        /* Example of adjusting the layout in the feature section */
        .fe-box {
          width: 100%;
        }
  
        /* Example of adjusting the layout in the image slideshow section */
        .slider {
          max-width: 100%;
          margin: 0 auto;
        }
      }
    </style> -->
  
</head>


<body>


    <!-- the head bar (account/wishlist/cart) -->
   
    <%- include("./partials/navbar.ejs") %>


        <section id="hero">
            <div id="bord-2">
              <div id="bord-3">
            <div class="textcontainer">
              <div class="text">ALL  NEW <br>& <br> EXCLUSIVE </div>
              <br>
              <br>
              <a href="product">
                  <button class="butt">View Products</button>
              </a>
            </div>
          </div>
        </div>
        </section>



          <section id="feature" class="secotion-p1">
            <div class="fe-box">
              <img src="/images/premium-quality-icon-12.jpg" alt="free-shipping" />
              <div id="txt-feature"> Premium Quality</div>
            </div>
      
            <div class="fe-box">
              <img src="/images/refund-icon-vector.jpg" alt="free-shipping" />
              <div id="txt-feature" style="font-size: 22px;"> Refund in 30 days </div>
            </div>
            
            <div class="fe-box">
              <img src="/images/custmor.png" alt="free-shipping" />
              <div id="txt-feature"> 24/7 support  </div>
            </div>
      
            <div class="fe-box">
              <img src="/images/wordlwide.jpg" alt="free-shipping" style="height:110px;"/>
              <div id="txt-feature" style="font-size: 20px; "> world-wide shipping </div>
            </div>
      
            <div class="fe-box">
              <img src="/images/f2.png" alt="free-shipping" style="height: 100px;" />
              <div id="txt-feature"> Fast- Delivery </div>
      
              
            </div>
          </section>



          <div class="reveal-text-container">
            <div id="bord-1">
              <img id="truck" src="/images/truck.png" alt="">
               <a id="txt">Free-shipping</a>
              </div>
              </div>
          

              <section id="img-slideshow">


                <div class="slider">


                    <div class="list">

                        <div class="item">
                            <img src="/images/hm4.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/images/hm11.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/images/hm5.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/images/hm12.png" alt="">
                        </div>
                    </div>
                    <div class="buttons">
                        <button id="prev"></button>
                        <button id="next"></button>
                    </div>
                    <ul class="dots">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div> 
            </section>


<script src="/js/homescript.js"></script>

        <%- include("./partials/footer.ejs") %>


</body>

</html>