<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="top&sidecss.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Loacl Warehouse </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- slideshow motion and index counter -->
    <script>
    
    //   var slideIndex = 1;
//   showSlides(slideIndex);
//   function plusSlides(n) {
//       showSlides(slideIndex += n);
//   }
//   function currentSlide(n) {
//       showSlides(slideIndex = n);
//   }
var index=0;
  function showslides(){
    var image=document.getElementsByClassName("mySlides ")
    for(var i=0;i < image.length;i++){
        image[i].style.display="none";
    }
    if(index>image.length-1){
        index=0;
    }
image[index].style.display="block";
index++;
setTimeout(showslides,3000);
}
setTimeout(showslides,100);
//   function showSlides(n) {
//       var i;
//       var slides = document.getElementsByClassName("mySlides");
//       var dots = document.getElementsByClassName("dot");
//       if (n > slides.length) { slideIndex = 1 }
//       if (n < 1) { slideIndex = slides.length }
//       for (i = 0; i < slides.length; i++) {
//           slides[i].style.display = "none";
//       }
//       slides[slideIndex - 1].style.display = "block";
//       for (i = 0; i < dots.length; i++) {
//           dots[i].className = dots[i].className.replace(" active", "");
//       }
//       dots[slideIndex - 1].className += " active";
//   }

  // Auto Slide 
//   var slideIndex = 0;
//   showSlides();
//   function showSlides() {
//       var i;
//       var slides = document.getElementsByClassName("mySlides");
//      for (i = 0; i < slides.length; i++) {
//        slides[i].style.display = "none";
//      }
//      slideIndex++;
//      if (slideIndex > slides.length) { slideIndex = 1 }
//      slides[slideIndex - 1].style.display = "block";
//      setTimeout(showSlides, 7000); // Change image every 2 seconds
//   }
  </script>
</head>

<body>
   <!-- the head bar (account/wishlist/cart) -->
<%- include("./partials/navbar.ejs") %>



<div class-"main-pic">
           <img src="hm-main.png" style="width:100%;height: 800px;">
        <div class="textcontainer">
            <div class="text">ALL <br> NEW  <br>& <br> EXCLUSIVE </div>
            <a href="product">          
                  <button class="butt" >View Products</button>
            </a> 
            </div> 
</div>

 <div class="small pic slide " >

   <div class="shop_container">
    <h1 id="bestselling"> <i class='bx bxs-offer'></i> Best selling </h1>
    
            <!--content-->
            <div class="shop-content">
                <!--box1-->
                <div class="product-box">
                    <img src="prod1.jpeg" alt="" class="product-img" >
                    <h2 class="product-title">Nike Sportswear Premium Essentials Men's T-Shirt</h2>
                    <span class="price">45$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                    
                </div>

                <!--box2-->
                <div class="product-box">
                    <img src="prod2.webp" alt="" class="product-img">
                    <h2 class="product-title">Nike Dri-FIT Ready</h2>
                    <span class="price">40$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                </div>
                <!--box3-->
                <div class="product-box">
                    <img src="prod3.webp" alt="" class="product-img">
                    <h2 class="product-title">Men's French Terry Crew</h2>
                    <span class="price">40$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                </div>

            </div>
            

        </div>

 </div>

    <!-- slideshow images and container --> 

    <div class="slideshow-container">    
             <!-- the text and button -->

      <div class="mySlides fade"> 

            <!-- theimage itself -->
          <img src="man2.jpg" style="width:100%;height: 500px;">
      </div>
      <div class="mySlides fade">
      
          <img src="woman3.jpg" style="width:100%;height: 500px;">
        
      </div>
      <div class="mySlides fade">
       
          <img src="men3.jpg" style="width:100%;height: 500px;">
      </div>
      <div class="mySlides fade">
       
        <img src="woman1.jpg" style="width:100%;height: 500px;">
    </div>
    <div class="mySlides fade">
       
        <img src="woman2.jpg" style="width:100%;height: 500px;">
    </div>
  </div>



    <div class="downnavbr"> 

<span class="downwriting"><i class='bx bxs-package'></i>Free shipping </span>
<span class="downwriting"><i class='bx bx-world' ></i> World Wide Shipping  </span>
<span class="downwriting"><i class='bx bx-purchase-tag'></i>Best Prices </span>

</div>
</body>

</html>