<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/top&sidecss.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Loacl Warehouse </title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>

<!-- slideshow motion and index counter -->
<script>

    //   var slideIndex = 1;
    //   showSlides(slideIndex);
    //   function plusSlides(n) {
    //       showSlides(slideIndex += n);
    //   }
    //   function currentSlide(n) {
    //       showSlides(slideIndex = n);
    //   }

    var indexValue = 0;
    function slideShow() {
        setTimeout(slideShow, 2500);
        var x;
        const img = document.getElementsByClassName("mySlides2");
        for (x = 0; x < img.length; x++) {
            img[x].style.display = "none";
        }
        indexValue++;
        if (indexValue > img.length) { indexValue = 1 }
        img[indexValue - 1].style.display = "block";
    }
    slideShow();


    var index = 0;
    function showslides() {
        var image = document.getElementsByClassName("mySlides")
        for (var i = 0; i < image.length; i++) {
            image[i].style.display = "none";
        }
        if (index > image.length - 1) {
            index = 0;
        }
        image[index].style.display = "block";
        index++;
        setTimeout(showslides, 3000);
    }
    setTimeout(showslides, 100);

</script>


</head>

<body>
    <!-- the head bar (account/wishlist/cart) -->
    <%- include("./partials/navbar.ejs") %>


        <div class="main-pic">
            <img src="/images/hm-main.png" style="width:100%;height: auto;">
            <div class="textcontainer">
                <div class="text">ALL <br> NEW <br>& <br> EXCLUSIVE </div>
                <a href="product">
                    <button class="butt">View Products</button>
                </a>
            </div>
        </div>

        <!-- slideshow images and container -->

        <div class="slideshow-container">
            <!-- the text and button -->
            <div class="text_inslideshow">NEW COLLECTION </div>
            <div class="mySlides fade">

                <!-- theimage itself -->
                <img class="img_in_slideshow" src="/images/hm4.png">
            </div>
            <div class="mySlides fade">

                <img class="img_in_slideshow" src="/images/hm3.png">

            </div>
            <div class="mySlides fade">

                <img class="img_in_slideshow" src="/images/hm5.png">
            </div>
        </div>


        <div class="slideshow-container">
            <!-- the text and button -->
            <div class="text_inslideshow">SUMMER COLLECTION <BR> OUT NOW!!! </div>
            <div class="mySlides2 fade">

                <!-- theimage itself -->
                <img class="img_in_slideshow" src="/images/hm10.png">
            </div>
            <div class="mySlides2 fade">

                <img class="img_in_slideshow" src="/images/hm11.png">

            </div>
            <div class="mySlides2 fade">

                <img class="img_in_slideshow" src="/images/hm12.png">
            </div>
        </div>




        <%- include("./partials/footer.ejs") %>
</body>

</html>