<html>
<link rel="stylesheet" href="/css/logincss.css">
<title>the Local Warehouse</title>

<head>
    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/ajax-login.js"></script>
    <script src="/js/ajax-pass.js"></script>

    <style>
        .error {
            color: red;
            font-size: small;
            width: 80%;
            margin-left: 35px;
        }
    </style>
</head>
<script defer>
    function Email(field) {
        pattern = /^\S+@\S+\.\S+$/;

        if (field.match(pattern)) {
            document.getElementById("erroruser").innerHTML = " ";

            return "";

        }
        else {

            document.getElementById("erroruser").innerHTML = "Please Enter a valid E-mail";
            return '';
        }
    }
    function validateUserName(field) {
        if (field == '') {
            document.getElementById("erroruser").innerHTML = "enter Email";
            return 'hh';
        }
        else
            document.getElementById("erroruser").innerHTML = "";

        return '';
    }

    function validatepassword(field1) {
        if (field1 == '') {
            document.getElementById("errorpass").innerHTML = "your password must be filled";
            return "kkk";

        } else if (field1.length < 4) {
            document.getElementById("errorpass").innerHTML = "enter more than 4 characters";
            return "kkk";


        } else if (field1.length > 12) {
            document.getElementById("errorpass").innerHTML = "enter less than 12 characters";
            return "kkk";

        }
        else
            document.getElementById("errorpass").innerHTML = "";


        return '';


    }
    function both(field, field2) {
        if (field == '' || field2 == '') {
            return 'kkk';
        } else {
            return '';
        }
    }


    function
        validate(form) {
        let fail = '';
        fail += both(form.Email.value, form.password.value);
        
        fail += validateUserName(form.Email.value);
        fail += validatepassword(form.password.value);

        if (fail == '') {
            return true;
        }
        else
            return false;
    }
</script>





<body>
    <span class="con"> 
        <span class="alert " role="alert">
        <% if(typeof alert !='undefined'){%>
            <% alert.forEach(function(error) {%>
                <div class="alert " role="alert">
                    <%= error.msg %>
                    </button>
                </div>
                
            <%});%>
        
        
        <%}%>
            </span>
        
        </span>
    <div class="log">
    </div>
    <div class="sectionv">
        <div class="video-container">
            <div class="color-overlay"></div>
            
        </div>
        <br><br> <br><br><br><br>
        <h1> </h1><br>
        
        

        
        
        
        <div class="box">
            <h1
                style="color: rgb(0, 0, 0); text-align:center 10 ;padding-left: 38%;margin: auto;padding-bottom: 10%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                Login</h1>
            <form action="/user/login" method="post" class="q" id="l" enctype="multipart/form-data" onsubmit="return validate(this)">

                <input class="b" type="text" name="Email" placeholder="Email" id="email">
                <br>
                <span class="error" id="erroruser"></span>
                <br><br>

                <input class="b" type="password" name="password" placeholder="password " id="password">
                <br>

                <span class="error" id="errorpass"></span>
                <br>
                <br>
                <input type="submit" class="c">
                <a href="/forget">
                    <h1 class="for" id="v" >forget password?</h1>
                </a>
                <a href="signup">
                    <h1 class="for">don't have an account?</h1>
                </a>
        <p id="backend">nnnnnsxxxxxxxxxx</p>

        </div>
        
    </form>



</body>

</html>