<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pass_saved.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Poppins:wght@300;600&family=Righteous&display=swap" rel="stylesheet">
   
<title>The Local Warehouse</title>

</head>
<body>

    <div class="header"> 
    <div class="main">
        <h1 >Password Saved Sucessfully</h1><br>
        <img src="done.png" alt="" style="height: 70px; width: 70px;  ">
   <button id="home_btn" href="/index">
    HOME
    </button>
    </div>
</div>
 

</body>
</html>