<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The-Local-WareHouse|Ecommerce Website design</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header id="bar">
        <!-- the head bar (account/wishlist/cart) -->
 <nav class="head">
     <ul><li><a href="#" style="color:white"><i class='bx bxs-magic-wand'></i>Wishlist </a></li>
         <li><a href="#" style="color:white" id="cart-icon"><i class='bx bx-cart'></i>Cart </a></li>
         <li><a href="edit.html" style="color:white"><i class='bx bx-user-circle'></i>Account </a></li>
     </ul>
 </nav>

<!-- the menu checkbox -->

 <input type="checkbox" id="check">
 <label for="check">
     <i class='bx bx-menu' id="mnubtn"></i>
     <i class='bx bx-arrow-back' id="cancel" ></i>
 </label>


 <!-- sidebar content  -->
 <div class="sidebar">
     <header><i class='bx bx-home'></i>The <br> Local <br> Warehouse </header>
     <ul>
         <li><a href="/"><i class='bx bxs-offer'></i>Home</a></li>
         <li><a href="#"><i class='bx bx-male'></i>Men </a></li>
         <li><a href="#"><i class='bx bx-female'></i>Women</a></li>
         <li><a href="#"><i class='bx bx-help-circle'></i>Support&Help</a></li>
         <li><a href="#"><i class='bx bx-group'></i>About US</a></li>
         <li><a href="login"><i class='bx bx-log-out'></i>Log Out</a></li>
     </ul>
 </div>
        
  <!--cart-->
 <div  class="cart">

      <h2 class="cart-title">Your Cart <br> <i class='bx bxs-shopping-bag-alt' id="cart-icon"></i></h2>

      <!--Content-->
      <div class="cart-content"> 
          
          <!-- <div class="cart-box">
              <img src="prod1.jpeg" alt="" class="cart-img">
              <div class="deatil-box">
                  <div class="cart-product-title">Tshirt</div>
                  <div class="cart-price">45$</div>
                  <input type="number" value="1" class="cart-quantity">
              </div>              
          <!- </div> -->
      </div>
      <!--Total-->
      <div class="total">
          <div class="total-title">Total</div>
          <div class="total-price">0$</div>
      </div>
      <!--Buy Button-->
      <button type="button" class="btn-buy">Buy Now</button>
      <!--Cart Close-->
      <i class="bx bx-x" id="close-cart" ></i>
      
 </div>

    
        <!--shop-->
        <section class="shop container">
                <div class="filter">
                    <a href="#"><button>All</button></a>
                    <a href="jeanshtml"><button>Jeans </button></a>   
                    <a href="shirtshtml"><button>Tshirts & Hoodies</button></a>
                </div>
            <h2 class="section-title">Tshirts & Hoodies</h2>
            
            <!--content-->
            <div class="shop-content">
                <!--box1-->
                
                <div class="product-box">

                    <img src="prod1.jpeg" alt="" class="product-img" >
                    <h2 class="product-title">Nike Sportswear Premium Essentials Men's T-Shirt</h2>
                    <span class="price">45$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                    
                </div>

                <!--box2-->
                <div class="product-box">
                    <img src="prod2.webp" alt="" class="product-img">
                    <h2 class="product-title">Nike Dri-FIT Ready</h2>
                    <span class="price">40$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                </div>
                <!--box3-->
                <div class="product-box">
                    <img src="prod3.webp" alt="" class="product-img">
                    <h2 class="product-title">Men's French Terry Crew</h2>     
                    <span class="price">40$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                    
                </div>

            </div>
           
          
        </section>
       
        <section class="shop container">
           
            <h2 class="section-title">Jeans</h2>
            <!--content-->
            <div class="shop-content">
                <!--box1-->
                <div class="product-box">
                    <img src="jeans1.jpeg" alt="" class="product-img" >
                    <h2 class="product-title">MEN Jacket Jeans</h2>
                    <span class="price">55$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                    
                </div>

                <!--box2-->
                <div class="product-box">
                    <img src="jeans3.jpg" alt="" class="product-img">
                    <h2 class="product-title">Jeans Pants For Men</h2>
                    <span class="price">50$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                </div>
                <!--box3-->
                <div class="product-box">
                    <img src="jeans2.jpg" alt="" class="product-img">
                    <h2 class="product-title">Women's Jeans Pants</h2>
                    <span class="price">40$</span>
                    <i class='bx bxs-shopping-bag-alt add-cart'></i>
                </div>
            </div>
                <button class="open-button" onclick="openForm()"><img src="chaticon.png"></button>
                <div class="chat-popup" id="myForm">
                    <form action="/action_page.php" class="form-container">
                        <h1>Chat</h1>
        
                        <label for="msg"><b>Message</b></label>
                        <textarea placeholder="Type message.." name="msg" required></textarea>
                        
        
                        <button type="submit" class="btn">Send</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>

          
            
        </section>

        
        
       
        <!--Java Script-->
        <script src="main.js"></script>
        <script>
            function closeForm() {
               document.getElementById("myForm").style.display = "none";
           }
   
           function openForm() {
               document.getElementById("myForm").style.display = "block";
           }
   
          
   
       </script>
   
</body>
</html>