@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Globals  */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Variables  */
:root {
  --color_Blue: #3f93f1;
  --color_Dark1: #1e1e1e;
  --color_Dark2: #252527;
  --color_Light1: #dfdfdf;
  --color_Light2: #c4c4c4;
}

/* =============== Sidebar =============== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: var(--color_Dark1);
  transition: all 0.5s ease;
  z-index: 100;
}
.sidebar.close {
  width: 78px;
}

/* --------- Logo ------------ */
.logo-box {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color_Light1);
  transition: all 0.5s ease;
}
.logo-box:hover {
  color: var(--color_Blue);
}
.logo-box img {
  font-size: 30px;
  height: 50px;
  width: 100px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s ease;
}
.sidebar.close .logo-box i {
  transform: rotate(360deg);
}
.logo-name {
  font-size: 22px;
  font-weight: 600;
}

/* ---------- Sidebar List ---------- */
.sidebar-list {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar-list::-webkit-scrollbar {
  display: none;
}
.sidebar-list li {
  transition: all 0.5s ease;
}
.sidebar-list li:hover {
  background-color: var(--color_Dark2);
}
.sidebar-list li .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
}
.sidebar-list li.active .title {
  background-color: var(--color_Blue);
}
.sidebar-list li.active .bxs-chevron-down {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}
.sidebar-list li .title .link {
  display: flex;
  align-items: center;
}
.sidebar-list li .title i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: var(--color_Light1);
  font-size: 20px;
}
.sidebar-list li .title .name {
  font-size: 18px;
  font-weight: 400;
  color: var(--color_Light1);
}
#fawsomeicons {
  font-size: medium;
}
/* ---------------- Submenu ------------- */
.sidebar-list li .submenu {
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar-list li.dropdown.active .submenu {
  width: unset;
  height: unset;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 6px 6px 14px 80px;
  background-color: var(--color_Dark2);
}
.submenu .link {
  color: var(--color_Light2);
  font-size: 15px;
  padding: 5px 0;
  transition: all 0.5s ease;
}
.submenu .link:hover {
  color: #fff;
}
.submenu-title {
  display: none;
}

/* ---------------- Submenu Close ------------- */
.sidebar.close .logo-name,
.sidebar.close .title .name,
.sidebar.close .title .bxs-chevron-down {
  display: none;
}

.sidebar.close .sidebar-list {
  overflow: visible;
}
.sidebar.close .sidebar-list li {
  position: relative;
}
.sidebar.close .sidebar-list li .submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  height: max-content;
  width: max-content;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}
.sidebar.close .sidebar-list li:hover .submenu {
  opacity: 1;
  top: 0;
  pointer-events: initial;
  background-color: var(--color_Dark2);
}
.sidebar.close .submenu-title {
  display: block;
  font-style: 18px;
  color: var(--color_Light1);
}

/* =============== Home Section =============== */


.home {
  position: relative;
  background-color: var(--color_Light1);
  left: 260px;
  width: calc(100% - 260px);
  height: 100vh;
  transition: all 0.5s ease;
}
.sidebar.close ~ .home {
  left: 78px;
  width: calc(100% - 78px);
}
.home .toggle-sidebar {
  height: 60px;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.home .toggle-sidebar i {
  font-size: 35px;
  color: var(--color_Dark1);
  margin-left: 15px;
}
.home .toggle-sidebar .text {
  font-size: 25px;
  color: var(--color_Dark1);
  font-weight: 600;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("img/bg.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

/* the add / edit / ban styling */

.right {
  padding: 25px 40px;
  border: 2px solid black;
  min-width: 40%;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: var(--color_Dark1);
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--color_Dark1);
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--color_Dark2);
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}
#j {
  text-align: center;
}

/* serach icon  */
.serchbar {
  display: flex;
}

#searchicon {
  position: absolute;
  right: 39%;
  top: 51%;
}


.charts {
  display: flex;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.chart {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.chart h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #666;
  text-align: center
}
#one{
  width: 65%;
}
#two{
width: 35%;
}
/* ==================== View And Edit =============*/
.users{
  position: relative;
  background-color: var(--color_Light1);
  left: 50px;
  width: calc(100% - 260px);
  height: 100vh;
  transition: all 0.5s ease;

}
.board{
  width: 94%;
  margin: 30px 0 30px 30px;
  overflow: auto;
  background: white;
  border-radius: 8px;
}
.board img{
 width: 45px;
 height: 45px;
 object-fit: cover;
 border-radius: 50%;
 margin-right: 15px;

}
.board h5{
 font-weight: 600;
 font-size: 14px;
 color: #787d8d;
}

.board .people{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 text-align: start;

}

table{
 border-collapse: collapse;
}

tr{
  border-bottom:1px solid #eef0f3 ;
}

thead th{
 font-size: 14px;
 text-transform: uppercase;
 font-weight: 400;
 background: #F9FAFB;
 text-align: start;
 padding: 15px;
}

tbody tr td{
 padding: 10px 15px;
}

.active p{
 background: #d7fada;
 padding: 2px 10px;
 display: inline-block;
 border-radius: 40px;
 color: #2b2b2b;
}

.edit a{
 text-decoration: none;
 font-size: 14px;
 font-weight: 600;
 color: #554cd1; 
}









/* ============ Responsive / Breakpoints ========== */
@media (max-width: 1080px) {
}

/* For Medium Devices */
@media (max-width: 774px) {
}
@media (max-width: 560px) {
}

/* For Small Devices */
@media (max-width: 360px) {
}
@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}