body{
    background-repeat: no-repeat;
       background-size: 100cm;
      
       z-index: 1;
       background: linear-gradient(-45deg,black,blanchedalmond, white, black);
       background-size: 400% 400%;
       height: 100vh;
       animation: animate 15s ease infinite;    
}
input.ccc:disabled{
    background-color: #f0f0f0 ;
    width: 65%;
    
}
.ee{
    border: 1px solid;
    border-radius: 3.5px;
    padding: 5px;
    padding-right: 60px;
    width: 65%;
    
}
div.title{ 
    float: right;
   margin-right: 19.6%;
   font-size: larger ;
   position: relative;
  margin-top: 50px;
   width: 20.5cm;
   height: 1.3cm;
 background-color: #d6d6d6 ;
 
}
h1.head{
    color: #000;
margin-left: 3%;
margin-top: 9px;
font-weight: 100;
font-size:larger;
font-family:'Times New Roman', Times, serif;
}
div.two{
    margin-left: 8.6%;
    margin-top: 50px;
  float: left;
    
}
div.one{
    width: 18.35cm;
    height: 9cm;
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 40%;
    padding: 5%;
    padding-bottom: 12%;
    background-color: rgb(255, 255, 255);
    border-radius: 3.5px;
    padding: 5px;
    padding-right: 60px;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 8px;
    padding-top: 30px;
}
.cc{
    border: 1px solid;
    border-radius: 3.5px;
    padding: 5px;
    padding-right: 60px;
    
    
}
.ccc{
    border: 1px solid;
    border-radius: 3.5px;
    padding: 5px;
    padding-right: 60px;
    margin-top: 18px;
  
}
.cccc{
    width: 50%;
        width: 150px;
      background-color: rgb(31, 90, 238);
      color: white;
      transition: all 1s;
      border: 1px solid;
      border-radius: 3.5px;
      padding: 5px;
      padding-right: 60px;
}
.cccc:hover{
    
        /* Increase width */
        width: 233px;
        /* Change color */
        background-color: rgb(31, 90, 238);
        /* Move the shadow */
        box-shadow: -5px 5px 5px #000;
      
}

img.i
{
    margin-left: 30%;
}



  @keyframes animate
 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
