@import url('https://fonts.cdnfonts.com/css/poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
}

#menu{
    background: #111827;
    width:300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#menu .logo{

    display: flex;
    align-items: center;
    color: white;
    padding: 30px 0 0 30px;
}
#menu .logo img{
    width: 40px;
    margin-right: 30px;
}

#menu .items{

    margin-top: 40px;
}

#menu .items li{

    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items li i{
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}


#menu .items li:hover{
    background: #253047;
    cursor: pointer;
}
#menu .items li:nth-child(1){
    border-left: 4px solid white;
}
#menu .items li:hover i,
#menu .items li:hover a{
    color: #F3F4F6;

}


#menu .items a{
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
}

#interface {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E5E7EB;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    position: fixed;
    width: calc(100% - 300px);
}

#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border:1px solid #d7dbe6;
    border-radius: 4px;
}
#interface .navigation .search i{
    margin-right: 14px;
}


#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14 px;
}

#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 

#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.n1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-btn{
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 70px;
}

.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


}

.values .val-box{

    background:  white;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin-right: 15px;
}
.values .val-box:nth-child(1) i{
    background: #594ef7;
}
.values .val-box:nth-child(2) i{
    background: #3b30d8;
}
.values .val-box:nth-child(3) i{
    background: #d17fed;
}
.values .val-box:nth-child(4) i{
    background: #08bc44;
}



.values .val-box h3{
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span{
    font-size: 15px;
    color: #444a53;
}

.board{
     width: 94%;
     margin: 30px 0 30px 30px;
     overflow: auto;
     background: white;
     border-radius: 8px;
}
.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;

}
.board h5{
    font-weight: 600;
    font-size: 14px;
    color: #787d8d;
}

.board .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;

}

table{
    border-collapse: collapse;
}

tr{
     border-bottom:1px solid #eef0f3 ;
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #F9FAFB;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

.active p{
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.edit a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #554cd1; 
}

/* 
///////////////////////// */

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}


.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .cancel {
  background-color: red;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}