@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

nav.head
{
background: black;
height: 40px;
margin-top: 0;
}

nav.head ul
{
float:right;
margin-right: 20px;
}

nav.head ul li
{
font-size: 14px;
border-color: #ffffff;
display:inline-block;
line-height: 10px;
top: 10px;
padding: 10px;
}
a:link
{
color:white;
}
nav.head ul li a
{
font-size: 20px;

}
.head ul li a:hover
{
transition: 3s;
color: #000000;
background: whitesmoke;
padding-left: 1px;

}
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #000000;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  top: 10px;
  line-height: 30px;
  text-align: center;
  background: #000000;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgb(0, 0, 0);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
  background: whitesmoke;
  color: black;
}
.sidebar ul a i{
  margin-right: 16px;
}

#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 10px;
  top: 5px;
  background: #000000;
  color: white;
  font-size: 35px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #ffffff;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
div.brands{
  border: 2px solid;
  border-color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
padding: 60px ;
padding-bottom: 20%;
  border-width: 8px ;
margin-left: 31cm;
margin-right: 75px;
margin-top: 3%;
}
@keyframes slideleft {
  from{
transform: translateY(-100%);
  }
  to{
transform: translateY(100%);
  }

}
div.brands{
  /* felx bet5liha bel 3ard we display flex bet5liha flexbox */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
justify-content:center  ;
transition: 3s;

}
/* div.s{
  animation-name:slideleft;
  animation-duration: 2s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
} */
.s:hover{
  filter: blur(0);
filter: blur(0);
}
.s{
  filter: blur(3px);
filter: blur(3px);
transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
@keyframes gradient {
  0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}
body{
  background: linear-gradient(-45deg, #31044d, #07555e, #9c27b0);
  background-size: 400% 400%;animation: gradient 2s ease infinite;

}
.amar{
object-fit: cover;
}