@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;600&family=Righteous&display=swap');

/*the top Navigation bar */

nav.head /*the bar itself */
{
background: black;
height: 40px;
margin-top: 0;
}

nav.head ul /*the account/cart/wishlist content*/
{
float:right;
margin-right: 20px;
}

nav.head ul li /*the account/wishlist/cart */
{
font-size: 14px;
border-color: #ffffff;
border-width: 2px;
display:inline-block;
line-height: 10px;
top: 10px;
padding: 10px;
}
a:link /*so the link of account  doesnt turn blue */
{
color:rgb(0, 0, 0);
}
nav.head ul li a /* acc/cart/wishlist fontsize*/
{
font-size: 20px;
}
.head ul li a:hover /*hover effect of acc / cart/wishlist */
{
background-color: #000000;
transition: 2s all ease;
padding-top: 30px;
}


 /*-----------------------------------------------------------------*/
 /*Side bar */


*
{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body 
{
  font-family: 'Roboto', sans-serif;
}
.sidebar /*the sidde bar itself*/
 {
   z-index: 9;
  position: absolute;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #000000;
  transition: all .5s ease;
  overflow: visible;
}
.sidebar header  /*the loacal warehouse on the sidebar and menu icon */
{ 
  font-size: 22px;
  color: white;
  top: 10px;
  line-height: 30px;
  text-align: center;
  background: #000000;
  user-select: none;
}
.sidebar ul a /*the links inside the side bar */
{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgb(0, 0, 0);
  transition: .4s;
}
ul li:hover a /*hovering effect of every link */
{
  padding-left: 50px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.sidebar ul a i /*icons of links */
{
  margin-right: 16px;
}

#check /*checkbox of sidebar */
{
  display: none;
}
label #mnubtn,label #cancel /*menu button and cancel button */
{
  position: absolute;
  border-radius: 3px;
  cursor: pointer;
}
label #mnubtn /*menu button */
{
  left: 10px;
  top: 5px;
  background: #000000;
  color: white;
  font-size: 35px;
  transition: all .5s;
}
label #cancel /*back button in sidebar */
{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #ffffff;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar /*if not checked dont apper*/
{
  left: 0;
}
#check:checked ~ label #mnubtn /*if checked apper */
{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}


 /*------------------------------------------------------------*/
 /*SLideSHow */


.mySlides /*make them all hiddin in first */
 {
  display: none
}
img  /*allign photos in middlie vertically */
{
  vertical-align: middle;
}
.slideshow-container/* Slideshow container */
{ 
   position: relative;
  margin: auto;
  overflow: auto;
max-width: 100%;
height: 550px;
margin: auto;
}

.prev, .next /* Next & previous buttons */
{
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: rgb(0, 0, 0);
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next /* Position the "next button" to the right */
{
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover /* On hover adjuxt colors*/
{
background-color: rgba(0,0,0,0.8);
}

.dot /* The dots */
{
cursor: pointer;
height: 20px;
position: relative;
width: 20px;
background-color: #000000;
border-radius: 50%;
top: 60%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover  /*the hover effct of the dots */
{
background-color: #000000;
}

.fade /* Fading animation of slideshpqow images */
{
animation-name: fade;
animation-duration: 2s;
}
@keyframes fade 
 {
from {opacity: .6 } 
to {opacity: 1}
}

.textcontainer .text /*text in the middle of the slide show */
{
  z-index: 6;
  position: absolute;
  text-align: left;
 font-family: 'Righteous', cursive;
 font-size:47px; 
 top:10%;
 left: 9%;
 color: #000000;

}
.butt /*the button in the middle of the sliude show */
{
  z-index: 6;
  position: absolute;
  top: 43%;
  left: 10%;
font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 border: solid 0px;
 border-radius: 5px;
  padding: 8px 8px 8px 8px;
}
.butt:hover /*hovering effect of the button */
{
background-color: #ffffff;
scale: 1.2;
color: #000000;
transition: all  1.5s ;
}


div.info{
  border: solid black;
  height: 2cm;
}